body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 350px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    border-radius: 10px;
}

h2 {
    color: #007bff;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
    transition: 0.3s;
}

p {
    color: green;
    font-weight: bold;
}
